doctype html
html
  head
    base(href="/")
    title MEAN Boilerplate
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="x-ua-compatible" content="ie=edge")
    link(href="/assets/icons/favicon.ico", rel="shortcut icon", type="image/x-icon")

  body
    block content
    if 'production' === process.env.ENV
      include scriptsDist
    else
      include scripts
